<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style=" padding : 0;
    margin : 0;
    display : flex ; 
    width : 100vw;
    height : 100vh;
    justify-content: center;
    align-items: center; 
    background-color: hsl(var(--hue) , 100% , 20%);">

    <div style="padding : 30px;">

    <form action="/setnewpass" method="POST">

     <label for="setnewpassword">New Password : </label>
     <input id="setnewpassword" type="password" name="setnewpassword">
     <br>
     <button type="submit">Login</button>
    </form>
    </div>
</body>
</html>